.element__delete {
    width: 18px;
    height: 19px;
    padding: 0;
    background: url(../../../images/delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: opacity .3s;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}

.element__delete:hover {
    opacity: .5;
  }
