.profile__container {
    display: flex;
    align-items: flex-start;
    max-width: 336px;
}

@media screen and (max-width: 980px) {
    .profile__container {
        align-items: center;
        
    }
} 